name: Trivy Scan

on:
  push:
    branches: [ main ]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run Trivy with HTML report
      run: |
        docker run --rm \
          -v $PWD:/src \
          -w /src \
          aquasec/trivy:latest fs \
          --format html \
          --output trivy-report.html \
          .
    - name: Upload HTML report
      uses: actions/upload-artifact@v4
      with:
        name: trivy-results
        path: trivy-report.html
